.xfce4-panel,
window.xfce4-panel,
#XfcePanelWindow {
  color: #000000;
}

.xfce4-panel button,
.xfce4-panel label,
window.xfce4-panel button,
window.xfce4-panel label,
#XfcePanelWindow button,
#XfcePanelWindow label {
  color: #000000;
}

#clock-button label {
  color: #000000;
}
